.homecare_p0{ background:url("homecare_p0.png") top left no-repeat; }
.homecare_p0_1{ width:73px; height:310px; background-position:-10px -10px; }
.homecare_p0_2{ width:78px; height:310px; background-position:-93px -10px; }
.homecare_p0_3{ width:86px; height:310px; background-position:-181px -10px; }
.homecare_p0_4{ width:57px; height:310px; background-position:-277px -10px; }
.homecare_p0_5{ width:64px; height:310px; background-position:-344px -10px; }
.homecare_p0_6{ width:64px; height:310px; background-position:-418px -10px; }
.homecare_p0_7{ width:89px; height:310px; background-position:-492px -10px; }
.homecare_p0_8{ width:84px; height:310px; background-position:-591px -10px; }
.homecare_p0_9{ width:82px; height:310px; background-position:-685px -10px; }
.homecare_p0_10{ width:81px; height:310px; background-position:-777px -10px; }
.homecare_p0_11{ width:142px; height:310px; background-position:-868px -10px; }

