.homecare_p2{ background:url("homecare_p2.png") top left no-repeat; }
.homecare_p2_1{ width:104px; height:219px; background-position:-10px -10px; }
.homecare_p2_2{ width:58px; height:219px; background-position:-124px -10px; }
.homecare_p2_3{ width:69px; height:219px; background-position:-192px -10px; }
.homecare_p2_4{ width:90px; height:219px; background-position:-271px -10px; }
.homecare_p2_5{ width:95px; height:219px; background-position:-371px -10px; }
.homecare_p2_6{ width:95px; height:219px; background-position:-476px -10px; }
.homecare_p2_8{ width:118px; height:219px; background-position:-581px -10px; }
.homecare_p2_9{ width:97px; height:219px; background-position:-709px -10px; }
.homecare_p2_11{ width:170px; height:219px; background-position:-816px -10px; }
.homecare_p2_13{ width:209px; height:236px; background-position:-996px -10px; }
.homecare_p2_14{ width:74px; height:236px; background-position:-1215px -10px; }
.homecare_p2_15{ width:77px; height:236px; background-position:-1299px -10px; }
.homecare_p2_16{ width:67px; height:236px; background-position:-1386px -10px; }
.homecare_p2_17{ width:128px; height:237px; background-position:-1463px -10px; }
.homecare_p2_18{ width:150px; height:236px; background-position:-1601px -10px; }
.homecare_p2_19{ width:193px; height:236px; background-position:-1761px -10px; }
.homecare_p2_22{ width:96px; height:245px; background-position:-1964px -10px; }
.homecare_p2_23{ width:82px; height:245px; background-position:-2070px -10px; }
.homecare_p2_25{ width:89px; height:245px; background-position:-2162px -10px; }
.homecare_p2_26{ width:92px; height:245px; background-position:-2261px -10px; }
.homecare_p2_27{ width:78px; height:245px; background-position:-2363px -10px; }
.homecare_p2_28{ width:74px; height:245px; background-position:-2451px -10px; }
.homecare_p2_29{ width:86px; height:245px; background-position:-2535px -10px; }
.homecare_p2_30{ width:86px; height:245px; background-position:-2631px -10px; }
.homecare_p2_31{ width:78px; height:245px; background-position:-2727px -10px; }
.homecare_p2_33{ width:135px; height:245px; background-position:-2815px -10px; }
.homecare_p2_34{ width:110px; height:234px; background-position:-2960px -10px; }
.homecare_p2_35{ width:84px; height:234px; background-position:-3080px -10px; }
.homecare_p2_37{ width:73px; height:234px; background-position:-3174px -10px; }
.homecare_p2_38{ width:77px; height:234px; background-position:-3257px -10px; }
.homecare_p2_39{ width:82px; height:234px; background-position:-3344px -10px; }
.homecare_p2_40{ width:68px; height:234px; background-position:-3436px -10px; }
.homecare_p2_41{ width:89px; height:234px; background-position:-3514px -10px; }
.homecare_p2_42{ width:143px; height:234px; background-position:-3613px -10px; }
.homecare_p2_44{ width:171px; height:234px; background-position:-3766px -10px; }
.homecare_p2_49{ width:150px; height:254px; background-position:-3947px -10px; }
.homecare_p2_50{ width:59px; height:254px; background-position:-4107px -10px; }
.homecare_p2_51{ width:74px; height:254px; background-position:-4176px -10px; }
.homecare_p2_52{ width:77px; height:254px; background-position:-4260px -10px; }
.homecare_p2_53{ width:78px; height:254px; background-position:-4347px -10px; }
.homecare_p2_55{ width:73px; height:254px; background-position:-4435px -10px; }
.homecare_p2_56{ width:86px; height:254px; background-position:-4518px -10px; }
.homecare_p2_57{ width:73px; height:254px; background-position:-4614px -10px; }
.homecare_p2_58{ width:68px; height:254px; background-position:-4697px -10px; }
.homecare_p2_59{ width:161px; height:254px; background-position:-4775px -10px; }

