.Laundry_p0{ background:url("Laundry_p0.png") top left no-repeat; }
.Laundry_p0_1{ width:129px; height:328px; background-position:-10px -10px; }
.Laundry_p0_2{ width:132px; height:328px; background-position:-149px -10px; }
.Laundry_p0_3{ width:135px; height:328px; background-position:-291px -10px; }
.Laundry_p0_4{ width:136px; height:328px; background-position:-436px -10px; }
.Laundry_p0_5{ width:147px; height:328px; background-position:-582px -10px; }
.Laundry_p0_6{ width:127px; height:328px; background-position:-739px -10px; }
.Laundry_p0_7{ width:94px; height:328px; background-position:-876px -10px; }

